
body{
background:url('../images/bg_all.png') no-repeat top center;
}
header{
width: 908px;
height: 900px;
padding-top: 132px;
margin:0 auto;

}
header .logo{
width:350px;
height:70px;
background:url('../images/alogo.png') no-repeat center -110px;  
margin:0px auto;
}
header .logo2{
width:350px;
height:70px;
background:url('../images/alogo.png') no-repeat -65px -180px;  
margin:70px auto;
}
header dl{
float: left;
width:500px;
height:343px;
}
header dl dt{
line-height: 25px;
color: #333;
}
header dl dd{
line-height: 25px;
color:#666;
}
header .right{
float: right;
width:400px;
height:343px;
}
header .right li{
float: left;
text-align: center;
color:#666;
margin-right: 50px;
margin-bottom: 20px;
}
.bottom{
position:fixed;
left:0px;
bottom:0px;
width: 100%;
height:65px;
background:#000;
opacity: 0.6;
}
.bottom ul{
width: 1000px;
height:65px;
margin:0px auto;
}
.bottom li a{
float: left;
width: 200px;
height:65px;
color:#fff;
text-decoration: none;
text-align:center;
line-height: 65px;
z-index:1;
}
.bottom li .bottom1:hover{
background:#2bb4fa;
}
.bottom li .bottom2:hover{
background:#f35246;
}
.bottom li .bottom3:hover{
background:#21f330;
}
.bottom li .bottom4:hover{
background:#f321e4;
}
.bottom li .bottom5:hover{
background:yellow;
}



